<div class="row">


  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <form  [formGroup]="form" (ngSubmit)="add()" *ngIf="form">
        <div class="card-body p-b-0">
            <h4 class="card-title">Create Department</h4>
        </div>
        <hr>
        <div class="card-body ">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="org" class="control-label col-form-label">Organization</label>

                    <select class="form-control" id="org" formControlName="organizationId">
                      <option value="">select</option>
                      <option *ngFor="let org of orgs" [value]="org.id">{{org.name}}</option>
                    </select>
                    <ng-container *ngIf="!organizationId.valid && (organizationId.dirty || organizationId.touched)">
                      <small class="form-text text-danger" *ngIf="organizationId.hasError('required')">This field is required.</small>
                    </ng-container>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="name" class="control-label col-form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="name" placeholder="">
                        <ng-container *ngIf="!name.valid && (name.dirty || name.touched)">
                          <small class="form-text text-danger" *ngIf="name.hasError('required')">This field is required.</small>
                          <small class="form-text text-danger" *ngIf="name.hasError('maxlength')">Please enter below 100 chars.</small>
                        </ng-container>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="owner" class="control-label col-form-label">Owner</label>
                        <input type="text" formControlName="owner" class="form-control" id="owner" placeholder="">
                        <ng-container *ngIf="!owner.valid && (owner.dirty || owner.touched)">
                          <small class="form-text text-danger" *ngIf="owner.hasError('maxlength')">Please enter below 100 chars.</small>
                        </ng-container>
                      </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="description" class="control-label col-form-label">Description</label>
                      <input type="text" formControlName="description" class="form-control" id="description" placeholder="">
                      <ng-container *ngIf="!description.valid && (description.dirty || description.touched)">
                        <small class="form-text text-danger" *ngIf="description.hasError('required')">This field is required.</small>
                      </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="workingTime" class="control-label col-form-label">Working Time</label>
                  <input type="text" formControlName="workingTime" class="form-control" id="workingTime" placeholder="">
                  <ng-container *ngIf="!workingTime.valid && (workingTime.dirty || workingTime.touched)">
                    <small class="form-text text-danger" *ngIf="workingTime.hasError('required')">This field is required.</small>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="workingDays" class="control-label col-form-label">Working Days</label>
                  <input type="text" formControlName="workingDays" class="form-control" id="workingDays" placeholder="">
                  <ng-container *ngIf="!workingDays.valid && (workingDays.dirty || workingDays.touched)">
                    <small class="form-text text-danger" *ngIf="workingDays.hasError('required')">This field is required.</small>
                  </ng-container>
                </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="card-body">
            <div class="action-form">
                <div class="form-group m-b-0 text-right">
                    <button type="submit" class="btn btn-info waves-effect waves-light mr-4">Save</button>
                    <a type="button" class="btn btn-dark waves-effect waves-light" [routerLink]="['/department']" >Cancel</a>
                </div>
            </div>
        </div>
      </form>
    </div>
</div>
</div>
