<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background-color:#eee;">
  <div class="auth-box m-3 m-md-0">
      <div id="loginform" [ngClass]="{'d-none': recoverform}">
          <div class="logo">
              <h5 class="font-medium m-t-20">Login</h5>
          </div>

          <p *ngIf="errorMessage">
            <ngb-alert [type]="'danger'" (closed)="errorMessage='';">{{ errorMessage }}</ngb-alert>
          </p>

          <!-- Form -->
          <div class="row">
              <div class="col-12">
                  <form class="form-horizontal m-t-20" id="loginform" [formGroup]="loginForm">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                          </div>
                          <input type="text" class="form-control" formControlName="email" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                          </div>
                          <input type="password" class="form-control" formControlName="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                      </div>

                      <div class="form-group text-center">
                          <div class="col-xs-12 p-b-20">
                              <button class="btn btn-block btn-lg btn-info" (click)="doLogin()" [disabled]="loginForm.invalid">Log In</button>
                          </div>
                      </div>

                      <div class="form-group m-b-0 m-t-10">
                          <div class="col-sm-12 text-center">
                              Don't have an account? <a href="auth/signup" class="text-info m-l-5"><b>Sign Up</b></a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div id="recoverform" [ngClass]="{'d-block': recoverform}">
          <div class="logo">
              <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
              <h5 class="font-medium m-b-20">Recover Password</h5>
              <span>Enter your Email and instructions will be sent to you!</span>
          </div>
          <div class="row m-t-20">
              <!-- Form -->
              <form class="col-12">
                  <!-- email -->
                  <div class="form-group row">
                      <div class="col-12">
                          <input class="form-control form-control-lg" type="email" required="" placeholder="Username">
                      </div>
                  </div>
                  <!-- pwd -->
                  <div class="row m-t-20">
                      <div class="col-12">
                          <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
