<div class="row mb-3">
  <div class="col-6">
    <h4 class="card-title mb-3">{{title}}</h4>
        <!-- <h5 class="card-subtitle">This is the filerable Data table</h5> -->
  </div>
  <div class="col-6 text-right">
    <button class="btn btn-success ml-auto" (click)="onCreate()">{{addText}}</button>
  </div>
</div>
<div class="row" *ngIf="showFilter">
  <div class="col">
    <input type='text' class="form-control" placeholder='Type to filter ...' [(ngModel)]="searchInput"
    [ngbTypeahead]="search" />
  </div>
  <div class="col-2">
    <div class="input-group mb-3">
      <!-- <div class="input-group-prepend">
          <button class="btn mr-0 btn-danger" type="button">Show</button>
      </div> -->
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="perPage" (ngModelChange)="setPerPageOption()">
        <option *ngFor="let perPageOption of perPageOptions" [value]="perPageOption">{{ perPageOption }}</option>
      </select>
      <div class="input-group-append">
          <button class="btn mr-0 btn-success" type="button">Per Page</button>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Cols</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="px-2">
        <ng-container *ngFor="let item of this.displayColumns; let i = index">
          <div class="form-check mb-2">
            <input type="checkbox" class="form-check-input" [(ngModel)]="item.show" id="exampleCheck{{ i }}" (ngModelChange)="updateColumns()">
            <label class="form-check-label" for="exampleCheck{{ i }}">
              {{ item.name }}
            </label>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- <div class="col-3 text-right">
    <ngb-pagination [(page)]="paginator.pageNumber" [pageSize]="paginator.pageSize"
      [collectionSize]="paginator.totalCount" [maxSize]="5" (pageChange)="setPageNumber($event)"></ngb-pagination>
  </div> -->
</div>
<div class="row">
  <div class="col-3" *ngIf="bulkActions.length">
    <!-- <mat-form-field appearance="standard">
      <mat-label> Bulk Actions</mat-label>
      <mat-select>
        <mat-option (click)="onBulAction(item.key)" *ngFor="let item of bulkActions" [value]="item.key">{{item.label}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  <div class="col-3">
    <!-- <mat-form-field appearance="fill">
      <mat-label> Search Key</mat-label>
      <mat-select>
        <mat-option *ngFor="let s of simpleSearchKeys" [value]="s.name" (click)="doSimpleSearch(s)">
          {{ s.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <!-- <mat-form-field>
      <mat-label> Search</mat-label>
      <input matInput id="typeahead-basic" type="text" class="form-control" [(ngModel)]="searchInput"
        [ngbTypeahead]="search" />
    </mat-form-field> -->
  </div>

</div>

<ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="ColumnMode.force"
  [selected]="selectedRows" [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false" [headerHeight]="50"
  [footerHeight]="0" rowHeight="auto" (sort)="onSort($event)" [externalPaging]="true" [count]="paginator.totalCount"
  [offset]="paginator.pageIndex" [limit]="paginator.pageSize" (select)="onRowSelect($event)">

</ngx-datatable>

<div class="row mt-3 justify-content-md-right">
  <div class="col-9 text-right">
    &nbsp;
  </div>
  <div class="col-3">
    <ngb-pagination [(page)]="paginator.pageNumber" [pageSize]="paginator.pageSize"
      [collectionSize]="paginator.totalCount" [maxSize]="5" (pageChange)="setPageNumber($event)" class="d-flex justify-content-end"></ngb-pagination>
  </div>
</div>



<!-- Row Templates -->
<ng-template #actionTemplate let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
  <ng-container *ngFor="let action of actions">

    <!-- <ng-container [ngSwitch]="action.key">
      <ng-container *ngSwitchCase="'dropdown'">
        <ng-container *ngTemplateOutlet="actionDropDown;context:{$implicit:action,row:row}"></ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <i [class]="action.icon" (click)="onActionClick(action,row)" [ngbTooltip]="action.tooltipText"
          class="action-icon ml-3"></i>
        <i-feather [name]="action.icon" class="feather-sm"></i-feather>
      </ng-container>
    </ng-container> -->

    <!-- <div >
      <button type="button" class="btn btn-success">Process</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div> -->




  </ng-container>

  <!-- <ng-container *ngFor="let action of actions">
    <div class="btn-toolbar pr-2" role="toolbar" aria-label="Toolbar with button groups ">
      <div class="btn-group pr-2" role="group" aria-label="First group">
        <ng-container *ngIf="action.key == 'view'">
          <button type="button" class="btn btn-success" (click)="onActionClick(action,row)">Process</button>
        </ng-container>
        <ng-container *ngIf="action.key == 'delete'">
          <button type="button" class="btn btn-danger ml-2 pr-2" (click)="onActionClick(action,row)">Delete</button>
        </ng-container>
      </div>
    </div>
  </ng-container> -->

  <div class="btn-toolbar pr-2" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group pr-2" role="group" aria-label="First group">
      <ng-container *ngFor="let action of actions">
        <ng-container *ngIf="action.key == 'view'">
          <button type="button" class="btn btn-success" (click)="onActionClick(action,row)">{{action.label}}</button>
        </ng-container>
        <ng-container *ngIf="action.key == 'delete'">
          <button type="button" class="btn btn-danger ml-2 pr-2" (click)="onActionClick(action,row)">Delete</button>
        </ng-container>
      </ng-container>
      <!-- <button type="button" class="btn btn-success">Process</button>
      <button type="button" class="btn btn-danger ml-2 pr-2">Delete</button> -->
    </div>

  </div>
</ng-template>

<ng-template #priceTemplate let-value="value">
  <strong>{{ value | currency: "INR" }} </strong>
</ng-template>

<ng-template #productImageTemplate let-value="value" let-row="row">
  <img [src]="value" width="40" />
</ng-template>

<ng-template #statusTemplate let-value="value" let-row="row">
  <span class="font-weight-bold {{getTextColor(value)}}">{{value}}</span>
</ng-template>

<ng-template #productStatusTemplate let-value="value" let-row="row">
  <span class="font-weight-bold {{getTextColor(value)}}">{{value}}</span>
</ng-template>

<ng-template #productLinkTemplate let-value="value" let-row="row">
  <a class="link" ngbTooltip="Click to view product"
    (click)="navigateTo('inventory/products/view/'+value)">{{value}}</a>
</ng-template>

<!-- <ng-template #actionDropDown let-data let-row="row">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of data.options" (click)="onActionClick(item,row)">
      <span>{{item.label}}</span>
    </button>
  </mat-menu>
</ng-template> -->
