
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <app-ida-table #idaTable title="Manage Organization" addText="Add" [actions]="actions" [displayColumns]="displayColumns"
    (onLoadItemsEvent)="onLoadItemsEvent($event)" (onActionEvents)="onActionEvents($event)" (onAddClick)="add($event)"></app-ida-table>
      </div>
    </div>
  </div>
</div>


