.test {
  border:1px solid var(--red)
}

[data-sidebartype="overlay"] {
  header.topbar {
    display: none;
  }
}

#main-wrapper[data-layout=vertical][data-header-position=fixed][data-sidebartype="overlay"] .page-wrapper {
  padding-top: 0;
}


// 

.custom-nav.nav-tabs {
  margin-bottom:1.5rem;

  .nav-link {
    border:0;
    border-bottom:2px solid transparent !important;
  }

  .nav-link.active {
    border-bottom-color:#2962ff !important;
    font-weight:bold;
  }

  .nav-link.active, 
  .nav-item.show .nav-link {
    border:0;
    background-color:transparent;
  }

}


@media (min-width: 576px) {
  .custom-nav.nav-tabs a {
      flex: 1 1 auto!important;
      text-align:center;
      position:relative;

      &.nav-link.active:after {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #2962ff;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }
  } // custom-nav.nav-tabs a

  .nextPreviousButtons li {
    flex: 1 1 auto!important;
    text-align:center;
  } // nextPreviousButtons li
}


.ngx-datatable.material .datatable-header .datatable-header-cell {
  background:var(--success);
  color:var(--white);
  font-size:14px;
}

.ngx-datatable.material .datatable-body .datatable-row-wrapper:nth-child(odd) {
  background-color:#eee;
}