<div class="row">


    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <form  [formGroup]="userForm" (ngSubmit)="adduser()" *ngIf="userForm">
          <div class="card-body p-b-0">
              <h4 class="card-title">Create User</h4>
          </div>
          <hr>
          <div class="card-body ">

              <div class="row">
                  <div class="col-sm-12 col-md-6">
                      <div class="form-group">
                          <label for="inputfname" class="control-label col-form-label">First Name</label>
                          <input type="text" formControlName="firstName" class="form-control" id="inputfname" placeholder="First Name Here">
                          <ng-container *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
                            <small class="form-text text-danger" *ngIf="firstName.hasError('required')">This field is required.</small>
                            <small class="form-text text-danger" *ngIf="firstName.hasError('minlength')">Please enter atleast 4 chars.</small>
                            <small class="form-text text-danger" *ngIf="firstName.hasError('maxlength')">Please enter below 100 chars.</small>
                          </ng-container>
                        </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                      <div class="form-group">
                          <label for="lastName" class="control-label col-form-label">Last Name</label>
                          <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name Here">
                          <ng-container *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
                            <small class="form-text text-danger" *ngIf="lastName.hasError('maxlength')">Please enter below 100 chars.</small>
                          </ng-container>
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 col-md-6">
                      <div class="form-group">
                          <label for="address" class="control-label col-form-label">Address</label>
                          <input type="text" formControlName="address" class="form-control" id="address" placeholder="">
                          <ng-container *ngIf="!address.valid && (address.dirty || address.touched)">
                            <small class="form-text text-danger" *ngIf="address.hasError('required')">This field is required.</small>
                            <small class="form-text text-danger" *ngIf="address.hasError('email')">Please enter valid email.</small>
                          </ng-container>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                      <div class="form-group">
                          <label for="password" class="control-label col-form-label">Password</label>
                          <input type="password" formControlName="password" class="form-control" id="password" placeholder="Nick Name Here">
                          <ng-container *ngIf="!password.valid && (password.dirty || password.touched)">
                            <small class="form-text text-danger" *ngIf="password.hasError('required')">This field is required.</small>
                            <small class="form-text text-danger" *ngIf="password.hasError('minlength')">Please enter atleast 6 chars.</small>
                          </ng-container>
                        </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="company" class="control-label col-form-label">Company</label>
                        <input type="text" formControlName="company" class="form-control" id="company" placeholder="Company">
                        <ng-container *ngIf="!company.valid && (company.dirty || company.touched)">
                          <small class="form-text text-danger" *ngIf="company.hasError('maxlength')">Please enter below 100 chars.</small>
                        </ng-container>
                      </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="phone" class="control-label col-form-label">Phone</label>
                        <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Phone">
                        <ng-container *ngIf="!phone.valid && (phone.dirty || phone.touched)">
                          <small class="form-text text-danger" *ngIf="phone.hasError('minlength')">Please enter valid phone.</small>
                        </ng-container>
                      </div>
                </div>
            </div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="roleId" class="control-label col-form-label">Role</label>
                    <select class="custom-select mr-sm-2" id="roleId" formControlName="roleId">
                      <option value=''>Choose...</option>
                      <option [value]="role.id" *ngFor="let role of roles">{{role.name}}</option>
                    </select>
                    <ng-container *ngIf="!roleId.valid && (roleId.dirty || roleId.touched)">
                      <small class="form-text text-danger" *ngIf="roleId.hasError('required')">This field is required.</small>
                    </ng-container>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="roleId" class="control-label col-form-label">Status</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <div class="custom-control custom-radio">
                            <input type="radio" formControlName="active" value="1" class="custom-control-input" id="status-1" >
                            <label class="custom-control-label" for="status-1">Active</label>
                        </div>
                      </div>
                      <div class="form-check form-check-inline">
                        <div class="custom-control custom-radio">
                            <input type="radio" formControlName="active" value="0" class="custom-control-input" id="status-2">
                            <label class="custom-control-label" for="status-2">Inactive</label>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
          </div>
          <hr>

          <div class="card-body">
              <div class="action-form">
                  <div class="form-group m-b-0 text-right">
                      <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
                      <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
                  </div>
              </div>
          </div>
        </form>
      </div>
  </div>
</div>
