<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
  <div class="auth-box m-3 m-md-0">
      <div>
          <div class="logo">
              <h5 class="font-medium m-b-20">Sign Up </h5>
          </div>
          <!-- Form -->
          <form class="form-horizontal m-t-20" id="loginform" [formGroup]="form">
            <div class="row">
              <div class="col-12">

                    <div class="form-group row">
                      <div class="col-12 ">
                        <label for="inputfname" class="control-label col-form-label">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" id="inputfname" placeholder="">
                        <ng-container *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
                          <small class="form-text text-danger" *ngIf="firstName.hasError('required')">This field is required.</small>
                          <small class="form-text text-danger" *ngIf="firstName.hasError('minlength')">Please enter atleast 4 chars.</small>
                          <small class="form-text text-danger" *ngIf="firstName.hasError('maxlength')">Please enter below 100 chars.</small>
                        </ng-container>
                      </div>
                    </div>


                      <div class="form-group row">
                        <div class="col-12 ">
                          <label for="lastName" class="control-label col-form-label">Last Name</label>
                          <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="">
                          <ng-container *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
                            <small class="form-text text-danger" *ngIf="lastName.hasError('maxlength')">Please enter below 100 chars.</small>
                          </ng-container>
                        </div>
                      </div>




                      <div class="form-group row">
                          <div class="col-12 ">
                            <label for="email" class="control-label col-form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control" id="email" placeholder="">
                            <ng-container *ngIf="!email.valid && (email.dirty || email.touched)">
                              <small class="form-text text-danger" *ngIf="email.hasError('required')">This field is required.</small>
                              <small class="form-text text-danger" *ngIf="email.hasError('email')">Please enter valid email.</small>
                            </ng-container>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-12 ">
                            <label for="password" class="control-label col-form-label">Password</label>
                            <input type="password" formControlName="password" class="form-control" id="password" placeholder="">
                            <ng-container *ngIf="!password.valid && (password.dirty || password.touched)">
                              <small class="form-text text-danger" *ngIf="password.hasError('required')">This field is required.</small>
                              <small class="form-text text-danger" *ngIf="password.hasError('minlength')">Please enter atleast 6 chars.</small>
                            </ng-container>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-12 ">
                            <label for="confirm_password" class="control-label col-form-label">Confirm Password</label>
                            <input type="confirm_password" formControlName="confirm_password" class="form-control" id="confirm_password" placeholder="">
                            <ng-container *ngIf="!confirm_password.valid && (confirm_password.dirty || confirm_password.touched)">
                              <small class="form-text text-danger" *ngIf="confirm_password.hasError('required')">This field is required.</small>
                              <small class="form-text text-danger" *ngIf="confirm_password.hasError('minlength')">Please enter atleast 6 chars.</small>
                            </ng-container>
                            <ng-container *ngIf="confirm_password.invalid && confirm_password.touched">
                              <small class="form-text text-danger" *ngIf="confirm_password.hasError('confirmedValidator')">Password and Confirm Password must be match.</small>
                            </ng-container>
                          </div>
                      </div>

                      <div class="form-group text-center ">
                          <div class="col-xs-12 p-b-20 ">
                              <button class="btn btn-block btn-lg btn-info" (click)="signup()">SIGN UP</button>
                          </div>
                      </div>
                      <div class="form-group m-b-0 m-t-10 ">
                          <div class="col-sm-12 text-center ">
                              Already have an account? <a href="/auth/login" class="text-info m-l-5 "><b>Sign In</b></a>
                          </div>
                      </div>

              </div>
            </div>
          </form>

      </div>
  </div>
</div>
