
<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <app-ida-table #idaTable title="Manage Users" addText="Add User" [actions]="actions" [displayColumns]="displayColumns"
    (onLoadItemsEvent)="onLoadItemsEvent($event)" (onActionEvents)="onActionEvents($event)" (onAddClick)="addUser($event)"></app-ida-table>
      </div>
    </div>


  </div>
</div>


