<div class="row">


  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <form  [formGroup]="form" (ngSubmit)="add()" *ngIf="form">
        <div class="card-body p-b-0">
            <h4 class="card-title">Create Organization</h4>
        </div>
        <hr>
        <div class="card-body ">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="name" class="control-label col-form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="name" placeholder="">
                        <ng-container *ngIf="!name.valid && (name.dirty || name.touched)">
                          <small class="form-text text-danger" *ngIf="name.hasError('required')">This field is required.</small>
                          <small class="form-text text-danger" *ngIf="name.hasError('minlength')">Please enter atleast 4 chars.</small>
                          <small class="form-text text-danger" *ngIf="name.hasError('maxlength')">Please enter below 100 chars.</small>
                        </ng-container>
                      </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="owner" class="control-label col-form-label">Owner</label>
                        <input type="text" formControlName="owner" class="form-control" id="owner" placeholder="">
                        <ng-container *ngIf="!owner.valid && (owner.dirty || owner.touched)">
                          <small class="form-text text-danger" *ngIf="owner.hasError('maxlength')">Please enter below 100 chars.</small>
                        </ng-container>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="address" class="control-label col-form-label">Address</label>
                      <input type="text" formControlName="address" class="form-control" id="address" placeholder="">
                      <ng-container *ngIf="!address.valid && (address.dirty || address.touched)">
                        <small class="form-text text-danger" *ngIf="address.hasError('required')">This field is required.</small>
                      </ng-container>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="city" class="control-label col-form-label">City</label>
                      <input type="text" formControlName="city" class="form-control" id="city" placeholder="">
                      <ng-container *ngIf="!city.valid && (city.dirty || city.touched)">
                        <small class="form-text text-danger" *ngIf="city.hasError('required')">This field is required.</small>
                      </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="state" class="control-label col-form-label">State</label>
                  <input type="text" formControlName="state" class="form-control" id="state" placeholder="">
                  <ng-container *ngIf="!state.valid && (state.dirty || state.touched)">
                    <small class="form-text text-danger" *ngIf="state.hasError('required')">This field is required.</small>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="country" class="control-label col-form-label">Country</label>
                  <input type="text" formControlName="country" class="form-control" id="country" placeholder="">
                  <ng-container *ngIf="!city.valid && (country.dirty || country.touched)">
                    <small class="form-text text-danger" *ngIf="country.hasError('required')">This field is required.</small>
                  </ng-container>
                </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="card-body">
            <div class="action-form">
                <div class="form-group m-b-0 text-right">
                    <button type="submit" class="btn btn-info waves-effect waves-light mr-4">Save</button>
                    <a type="button" class="btn btn-dark waves-effect waves-light" [routerLink]="['/organization']">Cancel</a>

                </div>
            </div>
        </div>
      </form>
    </div>
</div>
</div>
