<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span>Organizations</span>
                        <h4>{{org}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span>Departments</span>
                        <h4>{{dept}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span>Employee</span>
                        <h4>{{emp}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
