/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');
.auth-box{
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.div-form-control {
  /* border: 1px solid #666; */
  padding: 10px;
  color: #000;
}


.form-control,
.div-form-control {
  border: 2px solid #ddd !important;
  font-weight: 600 !important;
  color: #000 !important;
  border-radius: 5px !important;
}



.col-form-label {
  line-height: 0.5;
}

.datatable-body-cell-label span{
  color: #000 !important
}

::ng-deep .mat-vertical-stepper-content
{
    visibility: visible !important;
    height: 100% !important;
}

ngb-accordion .card-header {
  background: #3e5569;
    color: #fff;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  background: var(--warning) !important;
  color: var(--white);
  font-size: 14px;
}

.btn-success {
  color: #fff !important;
  background-color: #3e5569 !important;
  border-color: #3e5569 !important;
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: #3e5569 !important;
  border-color: #3e5569 !important;
}
