<div class="row">


  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <form  [formGroup]="form" (ngSubmit)="add()" *ngIf="form">
        <div class="card-body p-b-0">
            <h4 class="card-title">Create Employee</h4>
        </div>
        <hr>
        <div class="card-body ">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="org" class="control-label col-form-label">Organization</label>

                    <select class="form-control" id="org" formControlName="organizationId" (ngModelChange)="updateDepts()">
                      <option value="">select</option>
                      <option *ngFor="let org of orgs" [value]="org.id">{{org.name}}</option>
                    </select>
                    <ng-container *ngIf="!organizationId.valid && (organizationId.dirty || organizationId.touched)">
                      <small class="form-text text-danger" *ngIf="organizationId.hasError('required')">This field is required.</small>
                    </ng-container>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="dept" class="control-label col-form-label">Department</label>

                    <select class="form-control" id="dept" formControlName="departmentId">
                      <option value="">select</option>
                      <option *ngFor="let dept of depts" [value]="dept.id">{{dept.name}}</option>
                    </select>
                    <ng-container *ngIf="!departmentId.valid && (departmentId.dirty || departmentId.touched)">
                      <small class="form-text text-danger" *ngIf="departmentId.hasError('required')">This field is required.</small>
                    </ng-container>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="firstName" class="control-label col-form-label">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="">
                        <ng-container *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
                          <small class="form-text text-danger" *ngIf="firstName.hasError('required')">This field is required.</small>
                          <small class="form-text text-danger" *ngIf="firstName.hasError('maxlength')">Please enter below 100 chars.</small>
                        </ng-container>
                      </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="lastName" class="control-label col-form-label">Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="">
                      <ng-container *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
                        <small class="form-text text-danger" *ngIf="lastName.hasError('maxlength')">Please enter below 100 chars.</small>
                      </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="dob" class="control-label col-form-label">DOB</label>
                  <input type="text" formControlName="dob" class="form-control" id="dob" placeholder="">
                  <ng-container *ngIf="!dob.valid && (dob.dirty || dob.touched)">
                    <small class="form-text text-danger" *ngIf="dob.hasError('required')">This field is required.</small>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="workTitle" class="control-label col-form-label">Work Title</label>
                  <input type="text" formControlName="workTitle" class="form-control" id="workTitle" placeholder="">
                  <ng-container *ngIf="!workTitle.valid && (workTitle.dirty || workTitle.touched)">
                    <small class="form-text text-danger" *ngIf="workTitle.hasError('required')">This field is required.</small>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="experience" class="control-label col-form-label">Total Experience</label>
                  <input type="text" formControlName="experience" class="form-control" id="experience" placeholder="">
                  <ng-container *ngIf="!experience.valid && (experience.dirty || experience.touched)">
                    <small class="form-text text-danger" *ngIf="experience.hasError('required')">This field is required.</small>
                  </ng-container>
                </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="card-body">
            <div class="action-form">
                <div class="form-group m-b-0 text-right">
                    <button type="submit" class="btn btn-info waves-effect waves-light mr-4">Save</button>
                    <a type="button" class="btn btn-dark waves-effect waves-light" [routerLink]="['/employee']" >Cancel</a>
                </div>
            </div>
        </div>
      </form>
    </div>
</div>
</div>
